
BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

BreakBeforeBraces: Allman

AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false

ColumnLimit: 100

SpacesBeforeTrailingComments: 1
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false

ReflowComments: true
SortIncludes: true
IncludeBlocks: Preserve

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true

# Add specific overrides if needed
